<div class="ligas-container">
    <h2 *ngIf="!loading">Competiciones disponibles para realizar pronosticos.</h2>

    <div *ngIf="loading" class="loader">
        <div class="spinner"></div>
        <p class="searching-leagues">Buscando las ligas disponibles...</p>
    </div>

    <div class="ligas-grid" *ngIf="!loading">
        <div class="liga-card" 
            *ngFor="let league of leagues" 
            [routerLink]="['fixture/', league.code]"> 
        
            <div class="liga-emblem">
                <img [src]="league.emblem" [alt]="league.name">
            </div>
            
            <h3>{{ league.name }}</h3>

            <p class="matches-count" *ngIf="league.matchesCount !== null">
              {{ league.matchesCount }} Partido{{ league.matchesCount === 1 ? '' : 's' }} hoy
            </p>
            <p class="matches-loading" *ngIf="league.matchesCount === null">Cargando...</p>
        </div>
    </div>
</div>