.fixture-container {
  padding: 20px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 10vh;
}

/*----- Fechas -----*/
.fecha-encabezado {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: linear-gradient(90deg, #ff9500 0%, #bd7800 100%);
  color: #1a1a1a;
  padding: 10px 10px;
  border-radius: 8px;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: capitalize;
  box-shadow: 0 4px 15px rgba(0, 255, 136, 0.2);
}

.fecha-encabezado h2 {
  margin: 0;
  min-width: 120px;
  text-align: center;
}

.fecha-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #1a1a1a;
  padding: 10px;
  transition: transform 0.2s ease;
}

.fecha-btn:hover {
  transform: scale(1.3);
}

.no-matches {
  font-size: 18px;
  color: #000000;
  text-align: center;
  background-color: #00000029;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
}

.games-container {
  width: 100%;
}

.match-hour {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  font-weight: bold;
  color: #2a2a2a;
}

.match-card {
  position: relative; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px 15px 15px;
  border: 1px solid #000000;
  max-width: 800px;
  width: 100%;
  margin: 15px auto;
  background: #ffffff;
  border-radius: 5px;
}

.team { 
  display: flex; 
  flex-direction: column;
  align-items: center;
  gap: 10px; 
  width: 40%; 
  font-size: 14px;
  text-align: center;
  white-space: normal;
  word-break: break-word;
}

.line { 
  font-weight: bold; 
  color: #666; 
}

.team-away {
  justify-content: center;
}


